Language: Cpp
BasedOnStyle: Microsoft

UseTab: Never
IndentWidth: 4
TabWidth: 4

ColumnLimit: 150

BreakBeforeBraces: Allman
NamespaceIndentation: All

PointerAlignment: Left
AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak
AlignOperands: Align
AlignTrailingComments: true

AlignConsecutiveAssignments:
  Enabled: true

AlignConsecutiveDeclarations:
  Enabled: true

BinPackArguments: false
BinPackParameters: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline

BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment

Cpp11BracedListStyle: false

InsertNewlineAtEOF: true

SeparateDefinitionBlocks: Always

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1

  - Regex: '^<.*>$'
    Priority: 2

  - Regex: '^(windows\.h|intrin\.h)$'
    Priority: 3

  - Regex: '.*'
    Priority: 4